{% extends 'partials/_master.twig' %}

{% block main %}
    <h2 style="text-align: center;">{{record.title}}</h2>

    <div style="position: relative; height: 180px;">ALLE BRAUCHEN</br>DIE FEUERWEHR</br>BRAUCHT DICH<img class="image" src="{{record.image|image()}}" style="width: 240px; position: absolute; top: 0; right: 0;" alt="Header image"></div>
    {{ record.body|markdown }}
    {% set signature = paths.theme ~ 'images/signature.png' %}
    Herzlichst<br>
    Ihr<br>
    <img class="image" src="{{signature}}" style="margin-left: 0" alt="Signature">
    Thorsten Vaupel<br>Bürgermeister
{% endblock main %}
