{% extends 'partials/_master.twig' %}

{% block main %}
    <h2 style="text-align: center;">{{record.title}}</h2>
    <div class="row">
      <div class="small-6 columns">
        <div style="position: relative;">ALLE BRAUCHEN</br>DIE FEUERWEHR</br>BRAUCHT DICH</div>
      </div>
      <div class="small-6 columns">
        <img class="image" src="{{record.image|image()}}" style="position: relative;" alt="Header image">
      </div>
    </div>
    {{ record.body|markdown }}
    {% set signature = paths.theme ~ 'images/signature.png' %}
    Herzlichst<br>
    Ihr<br>
    <img class="image" src="{{signature}}" style="margin-left: 0" alt="Signature">
    Thorsten Vaupel<br>Bürgermeister
{% endblock main %}
