@charset 'utf-8';

// The settings file contains the Foundation base settings, like fonts,
// colors, margins and other components.
// @see: http://foundation.zurb.com/sites/docs/sass.html#the-settings-file
@import 'settings';

// The Headerphoto, with the background image.
.headerphoto {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    min-height: 20vh;
    max-height: 36vh;
    text-align: center;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column, .columns{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.headertitle {
    text-align: center;
}

[type='search'] {
    box-shadow: none;
}

ul.pagination {

    background: #DDD;
    display: inline-block;

    a {
        padding: 0.6em 1em;
        text-decoration: none;
    }

    .active a {
        color: $light-gray;
        background: $black;
    }

}

h1 a, h2 a, h3 a {
    text-decoration: none;
}

p.meta {
    font-size: 90%;
    color: #666;
}

@include breakpoint(medium) {
    h1, h2{
        margin-bottom: 2rem;
    }

    img {
        margin: 0 auto 1rem;
        max-width: 80%;
        display: block;
    }
    .news-excerpts img {
        margin: .5rem;
    }
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

// Override the a inside .menu-text, for topbar navigation, where the 'homepage' has a link.
.menu > li {
    padding: 0;
    a {
        color: $primary-color;
        text-decoration: none;
    }
    &.active > a {
        color: $primary-color;
        background-color: inherit;
        border-bottom: 1px solid;
    }
}

// Style widgets using the classes for .widgetholder and .widget
.widgetholder {

    .widget {
        margin: 1.5em 0;
    }
}

body {
  background-image: url("../images/40c7e5e5.png");
  @extend body;
}

.headertitle {
  background-color: $white;
  @extend .headertitle;
}

footer {
  background-color: $white;
}

.main-row {
  background-color: $white;
}

.top-bar {
  border-radius: $border-radius;
  box-shadow: 0.5rem .5rem 2.2rem black;
}

.orbit-container {
  max-height: 50vh;
  li.orbit-slide {
    max-height: 100% !important;
  }
}

// Operations stuff
.operations-list{
  a{
    text-decoration: none;
  }
  span.date{
    float: right;
  }
  li{
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    list-style-position:inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover{
      background-color: $accordion-item-background-hover;
    }

    span.number{
      float: left;
      margin-right: .5rem;
    }

    span.title{
      display: inline-block;
      width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span.operation-location{
      display: block;
      font-size: 75%;
      font-style: italic;
    }
  }
}

.operations-block {
  span {
    clear: both;
    display: block;
  }
}

// Departments stuff
.department-additional-info{
  background-color: $light-gray;

  .department-contact-info{
    margin-top: $paragraph-margin-bottom;
  }
}

.main-section {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Comfortaa', cursive;
  }
}

// Callouts
.callout-header {
  background-image: url("../images/BlockHeaderIcon.png");
  background-repeat: no-repeat;
  text-align: center;
  border-radius: $border-radius;
  background-color: $anchor-color-hover;

  h5 {
    line-height: 2.2rem;
  }
}

.menu a:hover{
  background-color: $anchor-color-hover;
}
